    <div class="card card-profile card-plain">
        <div class="card-avatar">
            <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
        </div>
        <div class="card-block">
            <a href="#paper-kit">
                <div class="author">
                    <h4 class="card-title">{{ name }}</h4>
                    <h6 class="card-category">{{ category }}</h6>
                </div>
            </a>
            <p class="card-description text-center">
                <button class="btn btn-outline-primary btn-round" (click)="openModal()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Detalhes</button>
            </p>
        </div>
    </div>