ngb-progressbar {
  margin-top: 5rem;
}
.presentation-title > span {
  font-size: 0.3em;
}
@media (max-width: 767px) {
  .section-cerimonia-festa>div> div {
    flex-direction: column-reverse!important;
  }
}
