<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/fundo2.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div
                    class="title-brand d-flex flex-column align-content-center align-items-center justify-content-center">
                    <div class="angular-logo">
                        <img class="img-fluid pt-5" src="assets/img/logo.png" alt="">
                    </div>
                    <h1 class="presentation-title d-flex flex-column">
                        Gustavo
                        <span>&</span>
                        Daiane
                    </h1>
                    <h6>24/02/2024</h6>
                </div>

                <h2 class="presentation-subtitle text-center">Bem vindo ao site do nosso casamento</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="tim-title d-flex flex-nowrap align-items-center justify-content-center">
                            <i class="fa fa-pagelines fa-flip-horizontal"></i> Sejam Bem vindos!
                            <i class="fa fa-pagelines" aria-hidden="true"></i>
                        </h2>
                        <p class="description">Seja bem-vindo ao site do nosso casamento! Estamos muito felizes em
                            compartilhar esse momento especial com você. Aqui
                            você vai encontrar todas as informações sobre o grande dia, como local, horário, lista de
                            presentes e muito mais.
                            Esperamos que você se divirta navegando pelo site e que confirme sua presença o quanto
                            antes. Não vemos a hora de
                            celebrar o nosso amor com você!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark-green" id="o_casal">
            <div class="container">
                <div class="title text-center">
                    <h2>O casal</h2>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                    <div class="carousel-caption">
                                        <p>Somewhere</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                    <div class="carousel-caption">
                                        <p>Somewhere else</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                    <div class="carousel-caption">
                                        <p>Here it is</p>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <custom-section title="Padrinhos" [classSection]="'section-gray'" [idSection]="'padrinhos'"
            [imageSrc]="'./assets/img/federico-beccari.jpg'" [imageSrcset]="'./assets/img/federico-beccari.jpg'"
            [imageAlt]="'padrinhos'" [imageTitle]="'Padrinhos'" [classImg]="'img-fluid'">

        </custom-section>
        <div class="section section-dark-green section-nucleo-icons">
            <div class="container">
                <h2 class="title text-center">Cerimônia e Festa</h2>
                <div class="row d-flex flex-wrap align-content-center align-items-center justify-content-center mb-4">
                    <div class="col-lg-6 col-md-6 d-flex">
                        <p class="description">
                            Gostaríamos muito de contar com a presença de todos os nossos convidados no momento em que
                            nossa união será enfim selada!.
                            Será uma linda cerimônia ao ar livre, prometemos que será rápida e seremos extremamente
                            pontuais.
                            Contamos com todos vocês!
                            Logo em seguida, nos reuniremos no salão de eventos do próprio local em que a cerimônia será
                            realizada
                            Será uma festa incrível, regada a bons drinks, comida boa, alegria e muita diversão.
                            Esperamos contar com a presença de todos vocês nesse dia tão importante para nós. Um grande
                            abraço!
                            <br>
                            Dia 24 de fevereiro de 2024, às 19:45.
                            <br>
                            Juvenal Rodriguez, 10, Rivera, Uruguai.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 d-flex">
                        <img src="./assets/img/laposta.webp" alt="Imagem do local da cerimônia" class="img-rounded">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <iframe class="border border-0 w-100" style="height: 22em"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3424.45486907421!2d-55.573455323750636!3d-30.8739338745165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a9fdee19907799%3A0x97a215e39e384e8c!2sLa%20Posta!5e0!3m2!1spt-BR!2sbr!4v1700670683422!5m2!1spt-BR!2sbr"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <custom-section title="Dicas que valem Ouro!" [idSection]="'dicas'" [classSection]="'section-gold'">
            <p class="description text-justify">
                <span class='font-weight-bold'>Trajes</span><br>
                - Queremos que os nossos convidados se sintam elegantes e confortáveis! Por isso, o traje será esporte
                fino.
                <br>
                - A cerimônia será no gramado, não recomendamos salto fino. <br>
                - Queremos que você aproveite com muito conforto essa noite que preparamos, por isso sugerimos às nossas
                convidadas que levem chinelos/tênis para curtir a hora da festa!
            </p>
            <p class="description text-justify">
                <span class='font-weight-bold'>Crianças</span><br>
                Os pais que precisam trazer seus pequenxos, saibam que serão bem vindos e tentaremos deixá-los o máximo
                confortáveis. Fiquem à vontade para trazer mantinhas para acomodá-los melhor caso durmam durante a festa
                e você
                possa aproveitar. Pedimos que você preencha também o nome e idade deles na confirmação de presença para
                que
                estejamos preparados para recebê-los.
            </p>
            <p class="description text-justify">
                <span class="font-weight-bold">Dicas para quem vem de fora</span><br>
                Para quem vem de fora e precisa de hospedagem, iremos deixar algumas sugestões de hotel com diárias
                até...
            </p>
        </custom-section>
        <custom-section title="Lista de Presentes" [classSection]="'section-gray'"></custom-section>
        <custom-section title="Confirmação de Presença" [classSection]="'section-dark-green'"></custom-section>
    </div>
</div>