<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter">
            <h1>Os Padrinhos</h1>
        </div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <br />
            <div class="section" id="padrinhos">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <app-card-pardinhos [name]="'Rafael M. Mello'" [category]="'Irmão Gêmeo do Noivo'" [description]="'Descrição do card1'"></app-card-pardinhos>
                        </div>
                        <div class="col-md-4">
                            <app-card-pardinhos [name]="'Rafael M. Mello'" [category]="'Irmão Gêmeo do Noivo'" [description]="'Descrição do card2'"></app-card-pardinhos>
                        </div>
                        <div class="col-md-4">
                        <app-card-pardinhos [name]="'Rafael M. Mello'" [category]="'Irmão Gêmeo do Noivo'" [description]="'Descrição do card3'"></app-card-pardinhos>
                    </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>