<footer class="footer">
    <div class="container">
        <div class="row d-flex justify-content-center text-center">
            <nav>
                <ul>
                    <li>
                        <a rel="noopener noreferrer" href="https://www.facebook.com/gustavo.m.mello.9/" target="_blank"
                            title="Facebook"><i class="fa fa-facebook-official fa-3x social social-fb"></i></a>
                    </li>
                    <li>
                        <a rel="noopener noreferrer" href="https://www.instagram.com/gustavo.m.mello/" target="_blank"
                            title="Instagram"><i class="fa fa-instagram fa-3x social social-in"></i></a>
                    </li>
                    <li>
                        <a rel="noopener noreferrer" href="mailto:gustavo-mmello@hotmail.com" target="_blank"
                            title="Email"><i class="fa fa-envelope-square fa-3x social social-em"></i></a>
                    </li>
                    <li>
                        <a rel="noopener noreferrer" href="https://www.linkedin.com/in/gustavo-m-mello/" target="_blank"
                            title="Linkedin"><i class="fa fa-linkedin-square fa-3x social social-ln"></i>
                        </a>
                    </li>
                    <li>
                        <a rel="noopener noreferrer" href="https://github.com/gustavo-mmh" target="_blank"
                            title="Github"><i class="fa fa fa-github fa-3x social social-gh"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="d-flex align-content-center flex-wrap text-center">
                   <p>Copyright © 2023. Todos os direitos reservados. Design by
                    <a class="text-nowrap" rel="noopener noreferrer" href="https://www.linkedin.com/in/gustavo-m-mello/" target="_blank">
                        Gustavo M. Mello
                    </a>
                   </p>
            </div>
        </div>
    </div>
</footer>